<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Dashboard</h2>
            <p>Bienvenido <b>{{usuario.username}}</p> </p>
            <a href="/" class="btn">Regresar</a>
        </div>
    </div>
</body>
</html>